<div class="card jh-card">
    <div class="row row-content">
        <div class="col-md-4">
            <div class="faImg">
                <fa-icon [icon]="faSchool"></fa-icon>
            </div>
        </div>
        
        <div class="col-md-8">
            <h1 class="display-4" jhiTranslate="home.title">Welcome to the Repetition WebApp!</h1>
            
            <div [ngSwitch]="isAuthenticated()">
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div class="alert alert-danger">
                        <span id="home-logged-message" jhiTranslate="home.logged.admin">You are the site ADMINISTRATOR, pay attention to the changes to ensure proper functioning of the service.</span>
                    </div>
                </div>
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
                </div>
                
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                    <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div [ngSwitch]="isAuthenticated()">
    <div class="card jh-card" *ngSwitchCase="false">
        <div class="row row-content">
            <div class="col-md-8">
                <h1 class="display-4" jhiTranslate="home.functioning">How does it work?</h1>
                <h4 jhiTranslate="home.description">The application consists in the provision of private lessons. Teachers can publish their offers and students can enroll. If you haven't tried our service yet, sign up to see available repetitions or create your own.</h4>
                <h2 jhiTranslate="home.description_summary" class="vSpaced text-muted">Simple and effective.</h2>
            </div>
            
            <div class="col-md-4">
                <div class="faImg">
                    <fa-icon [icon]="faUserFriends"></fa-icon>
                </div>
            </div>
        </div>
    </div>

    <div *jhiHasAnyAuthority="'ROLE_TUTOR'">
        <div *ngIf="repetitionsTutor?.length !== 0">
            <div class="card jh-card" *ngSwitchCase="true">
                <div class="row row-content justify-content-center"> 
                    <div class="col-8">
                        <h1 id="availableRepetitions_title" class="display-4" jhiTranslate="home.myRepetitions">My Repetitions</h1>
                    </div>
                </div>
                
                <div class="row row-content justify-content-center" *ngSwitchCase="true">
                    {{loadTutorData()}}
                    <div class="col-8">
                        
                        <div *ngFor="let repetition of repetitionsTutor">
                            <div id="cardRepetitions" class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column">
                                        <div class="p-2">
                                            <h5 id="cardTitleRepetitions" class="card-title">{{repetition!.subject!.name}}</h5>
                                        </div>
                                        <div class="p-2">
                                            <p id="cardTextRepetitions" class="card-text">{{repetition!.topic}}</p>
                                        </div>
                                        <div class="p-2">
                                            <p id="cardTextRepetitions" class="card-text">Duration: {{repetition!.duration}} minutes</p>
                                        </div>
                                        <div class="p-2">
                                            <p id="cardTextRepetitions" class="card-text">Date: {{repetition!.dateRepetition | date:'medium'}}</p>
                                        </div>
                                        <div class="p-2" *ngIf="repetition.students && repetition.students.length > 0">
                                            <p id="cardTextRepetitions" class="card-text" jhiTranslate="home.bookedBy">Booked By:</p>
                                            <li class="li_center" *ngFor="let student of repetition.students">{{ student.name }} {{ student.surname }}</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *jhiHasAnyAuthority="'ROLE_STUDENT'">
        <div class="card jh-card">
            <div class="row row-content justify-content-center">
                <div class="col-8">
                    <h1 id="availableRepetitions_title" class="display-4" jhiTranslate="global.find.title">Find repetitions</h1>
                </div>
                <div class="col-md-8">
                    <form name="form" role="form" (ngSubmit)="search()" [formGroup]="searchForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="find" name="find" placeholder="{{ 'global.find.placeholder' | translate }}">
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="find_date" name="find_date">
                        </div>
                        <div class="form-group">
                            <select type="text" class="form-control" id="find_group" name="find_group" [(ngModel)]="optionValue">
                                <option value="" [selected]="true" [hidden]="true" jhiTranslate="global.find.group">Group repetition?</option>
                                <option value=true jhiTranslate="global.find.group.yes">Yes</option>
                                <option value=false jhiTranslate="global.find.group.no">No</option>
                            </select>   
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block" jhiTranslate="global.find.search">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="repetitionsStudent?.length !== 0">
            <div class="card jh-card" *ngSwitchCase="true">
                <div class="row row-content justify-content-center"> 
                    <div class="col-8">
                        <h1 id="availableRepetitions_title" class="display-4" jhiTranslate="home.repetitions">Available repetitions</h1>
                    </div>
                </div>
                
                <div class="row row-content justify-content-center" *ngSwitchCase="true">
                    {{loadStudentData()}}
                    <div class="col-8">
                        
                        <div *ngFor="let repetition of repetitionsStudent">
                            <div id="cardRepetitions" class="card" *ngIf="!repetition!.dateDeleted">
                                <div class="card-body">
                                    <div class="d-flex flex-column">
                                        <div class="p-2">
                                            <h5 id="cardTitleRepetitions" class="card-title">{{repetition!.subject!.name}}</h5>
                                        </div>
                                        <div class="p-2">
                                            <p id="cardTextRepetitions" class="card-text">{{repetition!.topic}}</p>
                                        </div>
                                        <div class="p-2">
                                            <div class="container">
                                                <div class="row row-content justify-content-center" *ngIf="!repetition!.topic">
                                                    <div class="col-6">
                                                        <button class="btn btn-outline-primary btn-block" (click)="openDialog(repetition)" jhiTranslate="home.info">Info</button>
                                                    </div>
                                                    <div class="col-6">
                                                        <a routerLink="my-repetition-student" class="btn btn-outline-primary btn-block" jhiTranslate="home.enroll">Enroll</a>
                                                    </div>
                                                </div>
                                                <div class="row row-content justify-content-center" *ngIf="repetition!.topic">
                                                    <div class="col-12">
                                                        <button class="btn btn-outline-primary btn-block" (click)="openDialog(repetition)" jhiTranslate="home.info">Info</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>