/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

#availableRepetitions_title {
  text-align: center;
}

#cardRepetitions {
  margin-bottom: 15px;
}

#cardTitleRepetitions {
  text-align: center;
}

#cardTextRepetitions {
  text-align: center;
  padding-bottom: 10px;
}

img {
  margin: 20px;
}

.faImg {
  font-size: 150px;
  color: Dodgerblue;
  text-align: center;
}

.display-4 {
  margin-bottom: 25px;
}

.vSpaced {
  padding-top: 25px;
}

.li_center {
  text-align: center;
}
