<div>
    <h2 id="page-heading">
        <span jhiTranslate="repetitionWebApp.myRepetition.home.title">My Repetitions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-repetition" [routerLink]="['/my-repetition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="repetitionWebApp.myRepetition.home.createLabel">
            Create a new My Repetition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="myRepetitions?.length === 0">
        <span jhiTranslate="repetitionWebApp.myRepetition.home.notFound">No myRepetitions found</span>
    </div>

    <div id="entities" *ngIf="myRepetitions && myRepetitions.length > 0">

        <mat-card style="background-color:blue;margin:2em;" *ngFor="let myRepetition of myRepetitions">

            <mat-card-header>
                <mat-card-title>{{ myRepetition.subject.name }} </mat-card-title>
                <mat-card-subtitle>{{ myRepetition.dateRepetition | date:'short' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ myRepetition.topic }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab [routerLink]="['/my-repetition', myRepetition.id, 'view']">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-fab style="background-color:red;float: right;" type="submit" (click)="delete(myRepetition)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
