<div>
    <h2 id="page-heading">
        <span jhiTranslate="repetitionWebApp.myRepetition.home.title">My Repetitions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-repetition" [routerLink]="['/my-repetition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="repetitionWebApp.myRepetition.home.createLabel">
            Create a new My Repetition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="myRepetitions?.length === 0">
        <span jhiTranslate="repetitionWebApp.myRepetition.home.notFound">No myRepetitions found</span>
    </div>

    <div id="entities" *ngIf="myRepetitions && myRepetitions.length > 0">

        <mat-card class="alert alert-warning" *ngFor="let myRepetition of myRepetitions">

            <!--<img mat-card-lg-image style="float:right" src="{{myRepetition.subject?.imageUrl}}">-->

            <mat-card-header>
                <mat-card-title ><h5> {{ myRepetition.dateRepetition | date:'medium' }} </h5></mat-card-title>
                <mat-card-subtitle>
                    <h6 jhiTranslate="repetitionWebApp.myRepetition.home.duration"
                        [translateValues]="{ param: myRepetition.duration }">Duration: {{ myRepetition.duration }} minutes </h6>
                </mat-card-subtitle>
            </mat-card-header>

            <hr/>

            <mat-card-content>

                <h4> {{ myRepetition.subject?.name }} </h4>
                <h6 *ngIf="myRepetition?.topic" jhiTranslate="repetitionWebApp.myRepetition.topic"
                    [translateValues]="{ param: myRepetition.topic }">Topic: {{ myRepetition.topic }}</h6>
            </mat-card-content>

            <mat-card-actions style="float:right">
                <div>
                    <button style="margin-left:50px;margin-right:50px" mat-mini-fab [routerLink]="['/my-repetition', myRepetition.id, 'edit']">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button *ngIf="myRepetition.students?.length === 0" mat-mini-fab style="background-color:red;" type="submit" (click)="delete(myRepetition)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </div>
            </mat-card-actions>

            <hr/>

            <mat-card-footer style="margin-left:20px;margin-bottom:10px">
                <div *ngIf="myRepetition.students && myRepetition.students.length > 0">
                    <h5 jhiTranslate="repetitionWebApp.myRepetition.home.Reservations">Booked by</h5>
                    <li *ngFor="let student of myRepetition.students">{{ student.name }} {{ student.surname }} </li>

                </div>
                <h5 *ngIf="myRepetition.students?.length === 0"
                    jhiTranslate="repetitionWebApp.myRepetition.home.noReservations">No reservations</h5>
            </mat-card-footer>

        </mat-card>
    </div>
</div>
