<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="myRepetition">
            <h2><span jhiTranslate="repetitionWebApp.myRepetition.detail.title">My Repetition</span> {{ myRepetition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="repetitionWebApp.myRepetition.subject">Subject</span></dt>
                <dd>
                    <span>{{ myRepetition.subject }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.myRepetition.dateRepetition">Date Repetition</span></dt>
                <dd>
                    <span>{{ myRepetition.dateRepetition }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/my-repetition', myRepetition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
