<div>
    <h2 id="page-heading">
        <span jhiTranslate="repetitionWebApp.repetition.home.title">Repetitions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-repetition" [routerLink]="['/repetition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="repetitionWebApp.repetition.home.createLabel">
            Create a new Repetition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="repetitions?.length === 0">
        <span jhiTranslate="repetitionWebApp.repetition.home.notFound">No repetitions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="repetitions && repetitions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.topic">Topic</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.additionalNote">Additional Note</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.dateRepetition">Date Repetition</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.nPartecipants">N Partecipants</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.duration">Duration</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.price">Price</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.meetingLink">Meeting Link</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.dateCreated">Date Created</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.dateModified">Date Modified</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.dateDeleted">Date Deleted</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.tutor">Tutor</span></th>
                    <th scope="col" ><span jhiTranslate="repetitionWebApp.repetition.subject">Subject</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repetition of repetitions ;trackBy: trackId">
                    <td><a [routerLink]="['/repetition', repetition.id, 'view']">{{ repetition.id }}</a></td>
                    <td>{{ repetition.topic }}</td>
                    <td>{{ repetition.additionalNote }}</td>
                    <td>{{ repetition.dateRepetition | date:'medium' }}</td>
                    <td>{{ repetition.nPartecipants }}</td>
                    <td>{{ repetition.duration }}</td>
                    <td>{{ repetition.price }}</td>
                    <td>{{ repetition.meetingLink }}</td>
                    <td>{{ repetition.dateCreated | date:'medium' }}</td>
                    <td>{{ repetition.dateModified | date:'medium' }}</td>
                    <td>{{ repetition.dateDeleted | date:'medium' }}</td>
                    <td>
                        <div *ngIf="repetition.tutor">
                            <a [routerLink]="['/tutor', repetition.tutor?.id, 'view']" >{{ repetition.tutor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="repetition.subject">
                            <a [routerLink]="['/subject', repetition.subject?.id, 'view']" >{{ repetition.subject?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/repetition', repetition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/repetition', repetition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(repetition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
