<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repetition">
            <h2><span jhiTranslate="repetitionWebApp.repetition.detail.title">Repetition</span> {{ repetition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="repetitionWebApp.repetition.topic">Topic</span></dt>
                <dd>
                    <span>{{ repetition.topic }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.additionalNote">Additional Note</span></dt>
                <dd>
                    <span>{{ repetition.additionalNote }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.dateRepetition">Date Repetition</span></dt>
                <dd>
                    <span>{{ repetition.dateRepetition }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.nPartecipants">N Partecipants</span></dt>
                <dd>
                    <span>{{ repetition.nPartecipants }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.duration">Duration</span></dt>
                <dd>
                    <span>{{ repetition.duration }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.price">Price</span></dt>
                <dd>
                    <span>{{ repetition.price }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.meetingLink">Meeting Link</span></dt>
                <dd>
                    <span>{{ repetition.meetingLink }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ repetition.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.dateModified">Date Modified</span></dt>
                <dd>
                    <span>{{ repetition.dateModified }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.dateDeleted">Date Deleted</span></dt>
                <dd>
                    <span>{{ repetition.dateDeleted }}</span>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.tutor">Tutor</span></dt>
                <dd>
                    <div *ngIf="repetition.tutor">
                        <a [routerLink]="['/tutor', repetition.tutor?.id, 'view']">{{ repetition.tutor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="repetitionWebApp.repetition.subject">Subject</span></dt>
                <dd>
                    <div *ngIf="repetition.subject">
                        <a [routerLink]="['/subject', repetition.subject?.id, 'view']">{{ repetition.subject?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/repetition', repetition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
