<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-repetition-heading" jhiTranslate="repetitionWebApp.repetition.home.createOrEditLabel">Create or edit a Repetition</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.topic" for="field_topic">Topic</label>
                    <input type="text" class="form-control" name="topic" id="field_topic"
                           formControlName="topic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.additionalNote" for="field_additionalNote">Additional Note</label>
                    <input type="text" class="form-control" name="additionalNote" id="field_additionalNote"
                           formControlName="additionalNote"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.dateRepetition" for="field_dateRepetition">Date Repetition</label>
                    <div class="d-flex">
                        <input id="field_dateRepetition" type="datetime-local" class="form-control" name="dateRepetition" formControlName="dateRepetition" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateRepetition')!.invalid && (editForm.get('dateRepetition')!.dirty || editForm.get('dateRepetition')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateRepetition')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateRepetition')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.nPartecipants" for="field_nPartecipants">N Partecipants</label>
                    <input type="number" class="form-control" name="nPartecipants" id="field_nPartecipants"
                           formControlName="nPartecipants"/>
                    <div *ngIf="editForm.get('nPartecipants')!.invalid && (editForm.get('nPartecipants')!.dirty || editForm.get('nPartecipants')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nPartecipants')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nPartecipants')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                    <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('duration')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.meetingLink" for="field_meetingLink">Meeting Link</label>
                    <input type="text" class="form-control" name="meetingLink" id="field_meetingLink"
                           formControlName="meetingLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.dateModified" for="field_dateModified">Date Modified</label>
                    <div class="d-flex">
                        <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" formControlName="dateModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.dateDeleted" for="field_dateDeleted">Date Deleted</label>
                    <div class="d-flex">
                        <input id="field_dateDeleted" type="datetime-local" class="form-control" name="dateDeleted" formControlName="dateDeleted" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.tutor" for="field_tutor">Tutor</label>
                    <select class="form-control" id="field_tutor" name="tutor" formControlName="tutor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tutorOption.id === editForm.get('tutor')!.value?.id ? editForm.get('tutor')!.value : tutorOption" *ngFor="let tutorOption of tutors; trackBy: trackById">{{ tutorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="repetitionWebApp.repetition.subject" for="field_subject">Subject</label>
                    <select class="form-control" id="field_subject" name="subject" formControlName="subject">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subjectOption.id === editForm.get('subject')!.value?.id ? editForm.get('subject')!.value : subjectOption" *ngFor="let subjectOption of subjects; trackBy: trackById">{{ subjectOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
