<div *ngIf="myRepetitionStudent" style="padding:20px;">

    <div *ngIf="step == 1">
        <h4 *ngIf="myRepetitionStudent" mat-dialog-title jhiTranslate="repetitionWebApp.myRepetitionStudent.join.title">Join repetition</h4>
        <div mat-dialog-content>
            <p id="jhi-delete-myRepetition-heading" jhiTranslate="repetitionWebApp.myRepetitionStudent.join.question"
               [translateValues]="{ id: myRepetitionStudent?.id }">Are you sure you want to join this Repetition ?</p>

        </div>
        <div mat-dialog-actions>
            <button mat-button style="float:left" (click)="cancel()" jhiTranslate="entity.action.cancel">Cancel</button>
            <button mat-button id="jhi-confirm-delete-myRepetitionStudent" cdkFocusInitial style="float:right" class="btn btn btn-warning"
                    (click)="confirmJoin(myRepetitionStudent!)" jhiTranslate="repetitionWebApp.myRepetitionStudent.join.btnConfirm">Join</button>
        </div>
    </div>

    <div *ngIf="step == 2">
        <h5> {{ myRepetitionStudent.tutor?.surname }} {{ myRepetitionStudent.tutor?.name }}</h5>
        <h5> {{ myRepetitionStudent.dateRepetition | date:'medium' }} </h5>
        <h5> {{ myRepetitionStudent.duration }} minutes </h5>
        <h4> {{ myRepetitionStudent.subject?.name }} </h4>

        <mat-chip-list *ngIf="myRepetitionStudent.topic != ''" #chipList>
            <mat-chip *ngFor="let topic of myRepetitionStudent.topic!.split(';')">
                {{ topic }}
            </mat-chip>
        </mat-chip-list>

        <hr/>
        <br/>

        <ngx-paypal style="margin-top:50px" [config]="payPalConfig"></ngx-paypal>

        <div mat-dialog-actions>
            <button mat-button style="float:left" class="btn btn-danger" (click)="cancel()" jhiTranslate="entity.action.cancel">Cancel</button>
        </div>
    </div>
</div>
