<div style="padding:20px;">
    <h4 *ngIf="myRepetitionStudent" mat-dialog-title jhiTranslate="repetitionWebApp.myRepetitionStudent.delete.title">Unbook repetition</h4>
    <div mat-dialog-content>
        <p id="jhi-delete-myRepetition-heading" jhiTranslate="repetitionWebApp.myRepetitionStudent.delete.question"
           [translateValues]="{ id: myRepetitionStudent?.id }">Are you sure you want to remove the reservation for the repetition with identifier</p>

    </div>
    <div mat-dialog-actions>
        <button mat-button style="float:left" (click)="cancel()" jhiTranslate="entity.action.cancel">Cancel</button>
        <button mat-button id="jhi-confirm-delete-myRepetitionStudent" cdkFocusInitial style="float:right" class="btn btn-danger"
                (click)="confirmDelete(myRepetitionStudent?.id!)" jhiTranslate="repetitionWebApp.myRepetitionStudent.delete.btnConfirm">UnBook</button>
    </div>
</div>
